.App {
  text-align: center;
}
form {
  border-style: solid;
  border-width: 3px;
  border-color: purple;
}

main {
  border-style: solid;
  border-width: 3px;
  border-color: red;
}
header {
  border-style: solid;
  border-width: 3px;
  border-color: yellow;
}
nav {
  border-style: solid;
  border-width: 3px;
  border-color: aquamarine;
}
li {
  border-style: solid;
  border-width: 3px;
  border-color: blueviolet;
}
